.sidebar-list {
  display: flex;
  flex-direction: column;
  border-radius: var(--absoluteBorderRadius) !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background-color: #fff;
}

.sidebar-list input {
  border-radius: var(--absoluteBorderRadius) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sidebar-list .control-panel {
  display: flex;
  justify-content: center;
  padding: 0 0 9px;
}

.sidebar-list .control-panel i {
  color: var(--darkTextColor);
  margin: 10px 30px !important;
}

.sidebar-list .control-panel i.active,
.sidebar-list .control-panel i:hover {
  color: var(--primaryColor);
}

.sidebar-list .items-list {
  overflow-y: auto;
  margin-right: 7px;
}

.sidebar-list .items-list::-webkit-scrollbar {
  width: 7px !important;
}

.sidebar-list .items-list::-webkit-scrollbar-thumb {
  background: var(--primaryColor) !important;
  border-radius: 10px !important;
}

.sidebar-list .items-list::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

.sidebar-list .items-list>.item {
  padding: 0px 8px 20px 20px;
}


.sidebar-list .items-list .header {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px;
  word-break: break-word;
  color: var(--primaryColor);
  background-color: var(--primaryColorHover);
  border-radius: var(--absoluteBorderRadius);
}

.sidebar-list .items-list .menu {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar-list .items-list .menu .item {
  padding: 0 0 20px 40px;
  font-size: 14px;
  color: var(--darkTextColor);
}

.sidebar-list .items-list .menu .item:last-child {
  padding: 0 0 0 40px;
}

.sidebar-list .items-list .menu .item:hover {
  color: var(--primaryColor);
}

.sidebar-list .items-list .menu .item i {
  color: var(--primaryColor);
}